<h1>About Me</h1>

<h4>Greetings! I'm Shubham Sahoo, a final-year student pursuing Computer Science & Engineering at NIT Rourkela. As a web developer, I have a strong command of HTML, CSS, JavaScript, React, Node.js, and MongoDB, enabling me to develop robust and intuitive web applications. My passion for finance drives me to understand and innovate within financial technologies. I aspire to blend my expertise in web development with my finance enthusiasm to make meaningful contributions to both fields</h4>


<h6><a href="https://github.com/Shubcode4244" class="social-link">Github</a>
       
    <a href="https://www.linkedin.com/in/shubham-sahoo-14428a253/" class="social-link">LinkedIn</a>
    </h6>