<!-- <h1>Home Page</h1> -->
<div class="author">
    <h1 class="author__heading">Hi, I am Shubham Sahoo.</h1>
    <p class="author__body">Web Developer and Finance Enthusiastic.</p>
</div>

<img src="/img/hero-image.webp" alt="Person looking out through window" class="hero-image" width="981" height="528">
<section class="articles">
    <h2 class="articles__heading">Latest Posts</h2>

    <ul class="articles-ul">
        <% data.forEach(post=> { %>
            <li>
                <a href="/post/<%= post._id %>">
                    <span>
                        <%= post.title %>  
                    </span>
                    <span class="articles-list__date">
                        <%= post.createdAt.toDateString() %>
                    </span>
                </a>
            </li>
            <% }) %>
    </ul>

    <% if (nextPage !==null) { %>
        <a href="/?page=<%= nextPage %>" class="pagination">&lt; View older Posts</a>
        <% } %>

</section>